
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/*-- Common Style --*/
*, *::after, *::before {
  box-sizing: border-box;
}
html, body {
    height: 100%;
}
body{
    line-height: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: $fonts_color;
    font-family: $site-font;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-top: 0;
}
h1 {
    font-size: 42px;
    line-height: 1;
    font-weight: 700;
}
h2 {
    font-size: 32px;
    line-height: 32px;
}
h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
}
h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}
h5 {
    font-size: 18px;
    line-height: 22px;
}
h6 {
    font-size: 16px;
    line-height: 20px;
}
p:last-child {
    margin-bottom: 0;
}
a, button {
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

a, i, button, input, .scrollup, span:before, .sponser-item, .box-block, .lower-nav-btn, .second-nav-links, .subnavlower, .burger-icon, .client-details, .top-btn-block{
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
*:focus {
    outline: none !important;
}
a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: $secondary_color;
}
button, input[type="submit"] {
    cursor: pointer;
}
img {max-width:100%;height:auto}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.form-control:hover {
	outline: none;
	border: 1px solid #5bc0de;
	-webkit-box-shadow: 0px 0px 8px rgba(91, 192, 222, 0.6);
	box-shadow: 0px 0px 8px rgba(91, 192, 222, 0.6);
}
.main-btn {
	border:0px;
    border-radius: 5px;
    padding: 13px 30px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    @include buttonstyle ($color_blue3, 16px, $white);
    &:hover{
        @include buttonstyle ($color_blue4, 16px, $white);
    }
    & i{
        font-size: 15px;
        margin-left: 10px;
    }
    &:hover i{
        margin-left: 15px;
    }
    &.purple{
        @include buttonstyle ($color_purple, 16px, $white);
    }
    &.purple:hover{
        @include buttonstyle ($color_purple2, 16px, $white);
    }
    &.blue{
        @include buttonstyle ($color_blue, 16px, $white);
    }
    &.blue:hover{
        @include buttonstyle ($color_blue2, 16px, $white);
    }
    &.red{
        @include buttonstyle ($color_red, 16px, $white);
    }
    &.red:hover{
        @include buttonstyle ($color_red2, 16px, $white);
    }
    &.mate{
        @include buttonstyle ($color_mate, 16px, $white);
    }
    &.mate:hover{
        @include buttonstyle ($color_mate2, 16px, $white);
    }
    &.green{
        @include buttonstyle ($color_green, 16px, $white);
    }
    &.green:hover{
        @include buttonstyle ($color_green2, 16px, $white);
    }
    &.pink{
        @include buttonstyle ($color_pink, 16px, $white);
    }
    &.pink:hover{
        @include buttonstyle ($color_pink2, 16px, $white);
    }
    &.grey{
        @include buttonstyle ($color_grey, 16px, $white);
    }
    &.grey:hover{
        @include buttonstyle ($color_grey2, 16px, $white);
    }
    &.grey2{
        @include buttonstyle ($light_grey3, 16px, $white);
    }
    &.grey2:hover{
        @include buttonstyle ($dark_grey2, 16px, $white);
    }
}
.sub-btn {
	border:0px;
    border-radius: 5px;
    padding: 13px 30px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    color: $color_grey3;
    background-color: $white;
    border-color: $white;
}
.sub-btn:hover{
    color: $color_grey3;
    background-color: $color_grey4;
    border-color: $color_grey5;
}
.item-table {
	display: table;
	width: 100%;
	height: 100%;
}
.item-tablecell {
	display: table-cell;
	vertical-align: middle;
}
.banner-overlay {
	position: relative;
	z-index: 1;
    &:before {
        position: absolute;
        content: "";
        z-index: 0;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.7);
    }
}
.fix {
    overflow:hidden
}
.hidden {
    display: none;
}
.clear{
    clear: both;
}
.mtb-12{
    margin: 12px 0px;
}

